.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
flux.Rproj
data/aquatic/streams/Liu_data_DL_v20210902/co2f.csv
data/aquatic/streams/Liu_data_DL_v20210902/k.csv
data/aquatic/streams/Liu_data_DL_v20210902/pco2.csv
/data/aquatic/streams/Liu_data_DL_v20210902
